<mat-toolbar color="secondary" *ngIf="currentProject">
  <mat-toolbar-row>
    <span>Edit Project</span>
    <span class="spacer"></span>
    <a routerLink="/project/{{ currentProject.id }}"><mat-icon class="icon" aria-hidden="false" aria-label="Cancel" matTooltip="Cancel">cancel</mat-icon></a>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <div *ngIf="currentProject" class="mat-form">
    <mat-form-field class="full-width">
      <mat-label>Name</mat-label>
      <input matInput required placeholder="" [(ngModel)]="currentProject.name" name="name" type="text">
    </mat-form-field>
  
    <mat-form-field class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput required placeholder="" [(ngModel)]="currentProject.description" name="description"></textarea>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Duration</mat-label>
      <input matInput placeholder="" value="" type="number" required placeholder="" [(ngModel)]="currentProject.duration" name="duration">
    </mat-form-field>

    <button 
      mat-raised-button
      style="margin: 30px 0px"
      aria-label="Button that displays a tooltip when focused or hovered over"
      (click)="updateProject()"
    >
    Submit
    
    </button>
  </div>
<div *ngIf="!currentProject" class="sub-container">
    <h4>Project not found!</h4>
</div>
</div>
