.container {
    max-width: 45%;
    margin: 30px auto;
    background-color: #f9f9f9;
}

mat-toolbar a {
    color: #FFF;
    text-decoration: none;
}

@media screen and (max-width: 620px) {
    .container {
        max-width: 90%;
        margin: 10px auto;
        background-color: #f9f9f9;
    }
}
